{% trans %}
About
The Data.gov.il website was established by the e-government as part of an "open government" policy, based on promoting the transparency and presentation of reliable government information authorized for public use. This policy is implemented in other advanced countries in the world, such as the United States, United Kingdom and Australia.
In the Data.gov.il website, government databases are published clearly and accessibly and are continuously updated. The information system of Data.gov.il allows for quick and efficient location and downloading of data, subject to the Freedom of Information and Protection of Privacy Act.
The Data.gov.il project was first developed following a decision by the Ministerial Committee on Improving Public Government Services and Open Government, on Monday, November 29, 2010. The project's goal is to improve the service to the public and encourage the creative use of the public, the academia and of the government with the government databases.
The Data.gov.il site provides its users the full freedom to develop applications and systems, based on the published information. All information updates to the databases will be automatically available to applications based on them.
About E-government
E-government is responsible for providing the services and information offered online to the public, in order to improve the communication between citizens and government institutions. E-government operates under the Prime Minister's office, under which operate the Gov.IL portal, Government Payment Service, Government Forms Service and more.
{% endtrans %}


