{% trans %}

<p><b><u> Terms of Use of the Data.gov.il Site </u></b></p>

<p> This website ("Site") is managed and maintained by the Prime Minister's Office, the Government ICT Authority, E-Government Unit ("Office"). The Site displays data files accessed from the databases of government ministries, support units and other public bodies ("Databases"). Use of the Site is subject to the Terms of Use appearing on the <a href='www.gov.il'>www.gov.il</a> site ("Terms of Use"). </p>
<p>Use of the Databases, as defined above, is not subject to the Terms of Use but to the User License set out below. If a different user license than the one set out below applies to any database, the license applying to the database shall prevail. Feel free to use the database any way you like, subject to the licensing terms.</p>
<p><b><u> User License for Databases on the Data.gov.il Site </u></b></p>
<p> Use of the Information is permitted solely in accordance with the terms of this License. The Office may change the terms of this License at any time, and any such change shall become effective immediately when it is posted on the Site. Use of the Information shall be subject to the terms of the License as in effect at the date and time the Information was accessed from the database. </p>
<p><b><u> Definitions </u></b></p>
<p> In this license: </p>
<p> "Site"  The Data.gov.il site. </p>
<p> "Information"  A data file, or any part thereof, accessed from databases of government ministries, support units and other public bodies, which is displayed on the Site. </p>
<p> "use"  Doing any act with the Information that is restricted by copyright law, including copying, distributing, making available to the public, creating derivative works and any change as may be necessary technically to use it in a different state or in a different format, regardless of the medium in which the Information is embodied.</p>
<p> "value-added product"  Any product, service or application you have produced by adapting or incorporating the Information, in whole or in part, in accordance with the terms of this License. </p>
<p> "you"  Includes any natural person or legal entity or corporate body. </p>
<p> In this License  the masculine gender includes the feminine. </p>
<p><b><u>  Use of Information under this License </u></b></p>
<p> The Information is protected by intellectual property rights, including copyrights, which are owned by the State of Israel.
<p> Use of the information indicates your acceptance of the terms of this License, to the extent that such acceptance is required by law.This License grants you a worldwide, royalty-free, perpetual and non-exclusive license to use the Information subject to the terms and conditions below. </p>
<p> This License does not derogate from the uses permitted by law, including fair use as well as the use of facts and figures in and of themselves in a manner that does not infringe the protection of the selection, coordination and arrangement of the data. </p>
<p><b><u> Permitted Uses </u></b></p>
<p> You may copy the Information, distribute it, make it available to the public, broadcast it, make technical changes to it and create derivative works from it  in any medium or format. </p>
<p> You may make commercial and noncommercial use of the Information. </p>
<p><b><u> Prohibited Uses </u></b></p>
<p> You may not make the following use of the Information: </p>
<ol>
	<li> present the information in a misleading manner and/or in a manner causing a misrepresentation and/or modify the Information in a manner that distorts it and/or in a manner which is or could be prejudicial to the honor or reputation of the owner of the copyright therein;</li>
	<li>make use of the Information in a manner that breaches any law or statute;</li>
	<li>make use of the Information in a manner that infringes a person's privacy, including by cross-referencing the Information with other sources of information;</li>
	<li>present the information in a manner that gives the appearance that you may have received, or had access to, information held by the State of Israel about any identifiable person.</li>
</ol>
<p><b><u>Attribution of the Information</u></b></p>
<p>When using the Information, you must cite its source.</p>
<p>It should be noted that when using data extracted from the Information in a manner that does not preserve the original aspect of the selection or arrangement of the data in the source, there is no need to cite the source of the Information.</p>
<p><b><u>Scope of this License</u></b></p>
<p>This License does not apply to:</p>
<ol>
	<li>Data on the personality, personal status, intimate affairs, state of health, economic condition, vocational qualifications, opinions and beliefs of a person, as well as information about a person's private affairs, all the above within the meaning of the Protection of Privacy Law, 5741-1981.</li>
    <li>Information forbidden for publication and/or access by law, or obtained illegally or without permission, including by circumventing technological means meant to protect it;</li>
	<li>logos of the State of Israel and any government ministry, support unit or other public body, except where they form an integral part of a document;</li>
	<li>third party rights in the Information which the Office is not permitted to make available to the public under this License;</li>
	<li>rights other than copyright, including other intellectual property rights such as patents, trademarks and designs, and including rights under the Protection of Privacy Law;</li>
    <li>Any technological means, including software and applications, by which the Site functions.</li>
</ol>
<p><b><u>Copyright in Added-Value Products </u></b></p>
<p>Copyright in value-added products shall be owned by you or by anyone you designate. However, if information used under this License is incorporated in a value-added product, any copyright in that information shall belong to the State of Israel, and the use of such information shall be subject to this User License.</p>
<p><b><u>No Endorsement or Sponsorship</u></b></p>
<p>This License does not grant you any right to use the Information in a way that implies or suggests any official status of such use or that the State of Israel sponsors or endorses you or any third party or your or any third party's use of the Information or any value-added product.</p>
<p><b><u>Representations and Disclaimer</u></b></p>
<p>The Information is made available to you under this License "as is," without any representation, warranty or undertaking, whether explicit or implied, in relation to the Information. It is hereby expressly declared that the State of Israel does not guarantee the suitability of the Information for your use, either directly or in value-added products.</p>
<p>The State of Israel is not liable for any damage caused to you or to any third party as a direct or indirect result of any act or omission involved in the use of the Information. For purposes of this section, "State of Israel" includes the Office as well as employees, representatives and service providers of the State.</p>
<p>Without limiting the generality of the foregoing, the State of Israel shall not be liable:</p>
<ol>
	<li>for any error or omission in the Information, and it shall not be held liable for any loss, injury or damage of any kind, whether direct or indirect, caused by its use to you or to any third party;</li>
    <li>for changes made to the Information by you or by any third party;</li>
	<li>to third parties, pursuant to use of the Information;</li>
	<li>for any damage caused due to the use of software applications downloaded directly through the Site or activated as a result of the use of the Site, including Internet applications (e.g. Java, JavaScript, ActiveX).</li>
</ol>
<p>The State of Israel does not guarantee or undertake to ensure the continued supply of the Information or the continued supply thereof in a certain format.</p>
<p>The State of Israel reserves the right to remove information from the Site at any time.</p>
<p><b><u> Breach </u></b></p>
<p>Breach by you of this License shall result in immediate termination. Conditions which by their nature survive the termination of the License, shall continue to apply, including conditions regarding attribution of the Information, representations and disclaimer.</p>
<p><b><u> Official Publications of the State of Israel </u></b></p>
<p> In the event of a conflict or inconsistency between the Information and information appearing in official written publications of the State of Israel, only the material contained in such official publications shall be deemed correct.</p>
<p><b><u> Governing Law and Venue </u></b></p>
<p> This License is subject to the laws and statutes of the State of Israel. The courts in Jerusalem have exclusive jurisdiction to consider any issue arising from the use of this License, including with respect to its violation. </p>
<p><b><u> Miscellaneous </u></b></p>
<p> No party to this License shall be deemed to have waived fulfillment or consented to the breach of any of its conditions, unless the consent or waiver are made in writing by the persons by law to bind that party. </p>
<p> This License covers all the rights granted to you in relation to the Information on the Office Site, except for exclusions and limitations prescribed by law, including fair use. </p>


<p>&nbsp; </p>
<p>&nbsp; </p>
<p>Version 1.0 </p>
<p>January 3, 2016</p>


{% endtrans %}
