/* GLOBAL */

@font-face {
  font-family: "datagov";
  src:url("fonts/datagov.eot");
  src:url("fonts/datagov.eot?#iefix") format("embedded-opentype"),
    url("fonts/datagov.woff") format("woff"),
    url("fonts/datagov.ttf") format("truetype"),
    url("fonts/datagov.svg#datagov") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "datagov" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "datagov" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-datagov:before {
  content: "\61";
}
.icon-ic-menorah:before {
  content: "\62";
}
.icon-ic-magen-david:before {
  content: "\63";
}
.icon-ic-transport:before {
  content: "\66";
}
.icon-ic-water:before {
  content: "\67";
}
.icon-ic-eco:before {
  content: "\68";
}
.icon-ic-finance:before {
  content: "\69";
}
.icon-ic-edu:before {
  content: "\6b";
}
.icon-ic-health2:before {
  content: "\6c";
}
.icon-ic-pop:before {
  content: "\6a";
}
.icon-ic-justic:before {
  content: "\65";
}
.icon-ic-house:before {
  content: "\6d";
}
.icon-shutterstock-336874199-converted:before {
  content: "\64";
}
.icon-tur:before {
  content: "\6e";
}

body{
  font-size: 100%;
  }
h1, h2{
  font-family: Reforma;
}
.big-text{
  font-family:Reforma;
  font-weight:normal !important;
}
.small-text{
  font-size:20px;
  font-family:Reforma;
  font-weight:normal !important;
}

i.icon-ic-datagov{
  font-family:datagov;
  color:#FFFFFF;
}


i.icon-ic-menorah{
  font-family:datagov;
  color:#FFFFFF;
  font-size: 50px;
}
html{
  position: relative;
  min-height: 100%;
}

body{
 background-color: #eef3f5;
 margin-bottom: 100px;
 background-image: none;
}

.embedded-content a{
word-break:break-word;
}

/* header */

.account-masthead{
  height:73px;
  color:#FFFFFF;
  background-color:#2e2e2e;

}
.account-masthead .container{
  display:block;
  height:100%;
}


.account-masthead .header-logo{
  display: table;
  padding-top: 10px;  
}
.account-masthead .header-logo .header-logo-cell{
  display: table-cell;
  vertical-align: top;
}
.account-masthead .header-logo .header-logo-cell .logo-icon-gov{
  height: 50px;  
  margin-top: -20px;
}
.account-masthead .header-logo .header-logo-cell .log-txt{
  padding-top: 25px;

}



.account-masthead .container  .betaImg{
  background-image: url('img/beta.png');
  background-repeat:no-repeat;
  background-position: 90% 50%;
  background-size: 100px 25px;
  width: 110px;
  /*position: absolute;*/
  margin-top: 35px;
  right: 20%;

}

.account-masthead .account{
  position: absolute;
  right: 10%;
  top:0;
}

/* end header */
.masthead{
  min-height:37px;
  height:37px;
  background-color:#3d759a;
}
.masthead .nav-collapse{
  clear:both;
  padding-top:0;
  float:left;
}
.masthead .nav > li > a{
  padding:0;
}
.masthead .nav > li:hover > a{
  background-color: transparent !important;
  border-radius: 0;
}
 .navigation{
  float:right;  
  height: 37px;
  margin-right: 0px !important;
}
.navigation ul{
  margin-right:0px !important;
}
 .navigation ul li{
  float: right;  
  padding-top: 10px;
}
.nav-pills li.active a{
  background-color: transparent !important;
  border-radius: 0;
  
}
.navbar .nav > .active > a{
  box-shadow: none;
}
.masthead ul li a:before{
content:"\00a0\00a0|\00a0\00a0";
}
.masthead ul li:first-child a:before{
content:none;
}
footer .unstyled, footer .attribution{
    float: left;
}

.site-footer{
  background-color: #2e2e2e;
}
.site-footer .attribution{
  color:#FFFFFF;
}
.site-footer .footer-links .unstyled{
  

}

.site-footer .footer-links .unstyled li a{
  font-family:Reforma;
  font-weight:normal !important;
}
.site-footer .footer-links .unstyled li:after{
  content:"\00a0\00a0|\00a0\00a0";
}
.site-footer .footer-links .unstyled li:last-child:after{
  content:none;
}
form.lang-select label{
  visibility: hidden;
  height: 1px;
}
form.lang-select .lang-container a{
  border-radius: 0;
  font-size:20px;
  font-family:Reforma;
  font-weight:normal !important;
  color:#0d2936;
}
/* home page */

.footer{
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  /*width:100%;*/
  height: 60px;

}
.hero{
  background: none;
  background-color: #eef3f5;
}
.hero .container .row1 .span8 .module-search h2{
  font-family: Reforma;
  font-size: 20px;
  color:#0d2936 ;
  margin-left: 20px;
  font-weight: normal;
  text-decoration: underline;
  margin-top: 45px;
  opacity: 0.73;
}
.hero .container .row1 .span8 .module-search{
  margin-top: 80px;
  min-height: 222px;
}
.hero .container .row1 .span8 .module-search form.module-content{
  background-color: #FFFFFF;
  opacity: 0.43;
}

.homepage .module-search .tags{
  font-family: Reforma;
  font-size: 20px;
  color:#0d2936 !important;
  background-color: #FFFFFF;
  opacity: 0.73;
  
}
.homepage .module-search .module-content{
  background: none;
}
.homepage .span12{
  padding-top:20px;
} 
.homepage .span12 .module-search{
  padding-top:20px;
}
.search-form .search-input button i{
  
  color:#0d2936;
}

.ui-helper-hidden-accessible{
  display: none;
}

[role=main], .main{
  background: none;
  background-color: #eef3f5;
}

.tagCollector{
  margin-bottom: 50px;
}

.tagLinks .tagLogo{ 
  width: 20%;
}

.tagLinks .tagLogo .tagLogoTitle{
  text-align: center;
  font-size: 15px;
}
.tagLinks .tagLogo .tagLogoLink{ 
  text-align: center;
  font-family:Reforma;
  font-size: 18px;
  color:#4679b2;
}
.tagLinks .tagLogo .tagLogoLink span{
  display:block;
  margin: auto;
}
.tagLinks .tagLogo .tagLogoLink i{
  font-size: 60px;
  color:#4679b2;
}
.tagLinks .tagLogo .tagLogoItemCount{
  text-align: center;
  font-size: 15px;
}
/* end home page */

/* Contact Us */
.contact-form .control-group .editor span{
  display: none;
  visibility: none;
}
.contact-form .control-group .editor textarea{
  border-radius: 0 0 3px 3px;
  border: 1px solid #cccccc;
}
.contact-form .control-group .control-label{
  text-align: left;
}
/* End Contact Us */
/* aside  module-shallow */
.module-shallow .nav-facet .nav-item .txt,
.module-shallow .nav-facet .nav-item .num{
display: inline-block;
line-height: 15px;
vertical-align: middle;
margin: 0 2px;
}
.ui-autocomplete{
  
  list-style: none;
  font-weight: bold;
  line-height: 30px;
  background-color: #eef3f5;
  width: 10%;
  border:1px #cccccc solid;


}
.ui-autocomplete li{
  line-height: 30px;
  padding: 0 15px;
  color: #0d2936;
  opacity: 0.73;
}
/* end aside  module-shallow */

h1.page-heading{
    clear: both;
  }
.module-content .pagination{
  margin-bottom: 25px;
}

@media only screen and (max-width: 319px){
 
  /*body{
    background-color:yellow; 
  }*/
  .masthead{
    height: 120px;
    margin-left: auto;
    margin-right:auto; 
    margin-top: 10px;
  }
   .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
   /* float: left;
    margin-left: 0;
    margin-top: 5px;*/
    display: none;
  }
  .masthead  ul li a:before{
    content: none;
  }
  .nav-collapse{
    /*clear: none !important;
    height: auto;*/
    display: block;
    height: 120px !important;
  }
  .nav-collapse .nav-pills{
    /*display: inline-block;
    flex-direction:column;
    border: 1px red solid;
    min-height: 150px;*/
  }
  /*.account-masthead .container .betaImg{
    margin-top: -45px;
  }*/
  .logo-mobile{
  display: block;
}
.logo-mobile .mobile-log-txt{
  position: absolute;
  left:67px;
  top:15px;
}
.logo-mobile hgroup .log-txt{
  margin-top: -10px !important;
  margin-left: 0px !important;
}
.logo-mobile hgroup .logo-icon-gov .logo span{
  top:-15px;
}
.logo-desktop{
display:none ;
}
/*  .account-masthead .container .logo-title hgroup{
     -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;

}
.account-masthead .container .logo-title hgroup .log-txt{
  margin-left: 319 * (-24 /100);
    margin-left: -24vm;
    margin-left: -24vmin;
}*/
.toolbar .breadcrumb .home{
    display: inline;
  }
  .site-footer .footer-links .unstyled li a{
    font-size: 319 * (3 /100);
    font-size: 3vm;
    font-size: 3vmin;

  }
  .wrapper{
    margin:0; 
  }
  .homepage .module-search .tags .tag,
  .homepage .module-search .tags h3{
    float:none !important;
  }
  /*.toolbar .breadcrumb{
    padding-left: 319 * (5 /100);
    padding-left: 5vm;
    padding-left: 5vmin; 
  }*/
  .toolbar .breadcrumb li,
  .toolbar .breadcrumb a{
    color:#505050;
  }
   i.icon-ic-datagov{
   
    font-size: 319 * (25 /100);
    font-size: 25vm;
    font-size: 25vmin;  
  }

  i.icon-ic-menorah{
    
    /*font-size: 319 * (12 /100);
    font-size: 12vm;
    font-size: 12vmin; 
    font-size: 50px;  */
  }
  .account-masthead .header-logo .header-logo-cell .log-txt{
    clear: both;
  }
  .account-masthead .header-logo .header-logo-cell .logo-icon-gov{
    height: 20px;
    margin-top: -30px;
  }
  .betaImg-box{
  position: absolute;
  top:2px;
  left: 0;
}
 /*.account-masthead .container .betaImg{
    margin-top: -38px;
  }*/
  .account-masthead .container .logo-title hgroup .logo-text{
    /* font-size: 319 * (3 /100);
    font-size: 3vm;
    font-size: 3vmin;   */
   }
  .site-footer{
    
    padding-left: 319 * (10 /100);
    padding-left: 10vm;
    padding-left: 10vmin; 
    padding-right: 319 * (10 /100);
    padding-right: 10vm;
    padding-right: 10vmin;
  }
  .site-footer .footer-links .unstyled{
    justify-content:center;
  }
  
   .site-footer .footer-links .unstyled li a{
     font-size: 20px;
    white-space: nowrap; 
  }
  .footer .attribution{
    display: none;
  }
  .m-top ckanext-datapreview{
  overflow: auto;
}
.actions li{
    margin: 3px 0;
  }
  .tagLinks .tagLogo{
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px ){
 /*body{
  background-color: purple;
 }*/
  
  .homepage .module-search .tags h3{
    width: 100%;
  }
  
   .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: left;
    margin-left: 0;
    margin-top: 5px;
    margin-left: 320 * (6 /100);
    margin-left: 6vm;
    margin-left: 6vmin; 
  }
  .toolbar{
    
    padding-left: 320 * (6 /100);
    padding-left: 6vm;
    padding-left: 6vmin;
  }
  .nav-collapse{
    clear: none !important;
    height: auto;
  }
  .nav-collapse .nav-pills{
     display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;    
    display: flex;
  }
  .nav-collapse .nav-pills li a{
    font-size: 319 * (3.8 /100);
    font-size: 3.8vm;
    font-size: 3.8vmin; 
    line-height: 320 * (3.8/100);
    line-height: 3.8vm;
    line-height: 3.8vmin;
    
  }
  .betaImg-box{
  position: absolute;
  top:2px;
  left: 0;
}
/*.account-masthead .container .betaImg{
    margin-top: 5px;
  }*/
  .logo-mobile{
  display: block;
}
.logo-mobile .mobile-log-txt{
  position: absolute;
  left:67px;
  top:15px;
}
.logo-mobile hgroup .log-txt{
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.logo-mobile hgroup .logo-icon-gov .logo span{
  top:-15px;
}
.logo-desktop{
display:none ;
}

  i.icon-ic-datagov{
   
    font-size: 320 * (22 /100);
    font-size: 22vm;
    font-size: 22vmin;  
  }

  i.icon-ic-datagov{
  font-size:90px;

  }

  i.icon-ic-menorah{
    /*font-size: 319 * (11 /100);
    font-size: 11vm;
    font-size: 11vmin;  */
  }
  .account-masthead .header-logo .header-logo-cell .log-txt{
    clear: both;
  }
  .account-masthead .header-logo .header-logo-cell .logo-icon-gov{
    height: 20px;
    margin-top: -30px;
  }
  .betaImg-box{
  position: absolute;
  top:2px;
  left: 0;
}
  .account-masthead .container .betaImg{
    margin-top: 0;
  }
  .account-masthead .container .logo-title .logo-mobile hgroup .logo-text{
    
    font-size: 319 * (3.8 /100);
    font-size: 3.8vm;
    font-size: 3.8vmin; 
    line-height: 320 * (3.8/100);
    line-height: 3.8vm;
    line-height: 3.8vmin;
    
   }

   .toolbar .breadcrumb .home{
    display: inline;
  }
  .wrapper{
    margin:0; 
  }
  .toolbar .breadcrumb{
    /*padding-left: 320 * (5 /100);
    padding-left: 5vm;
    padding-left: 5vmin; */
  }
  .toolbar .breadcrumb li,
  .toolbar .breadcrumb a{
    color:#505050;
  }
  .site-footer{
    
    padding-left: 320 * (10 /100);
    padding-left: 10vm;
    padding-left: 10vmin; 
    padding-right: 320 * (10 /100);
    padding-right: 10vm;
    padding-right: 10vmin;
    
  }
  .site-footer .footer-links .unstyled{
    justify-content:center;
  }
   .site-footer .footer-links .unstyled li a{
    font-size: 20px;
  }
  .footer .attribution{
    display: none;
  }
  .tagCollector .tagLinks .tagLogo{
    
    width: 50%;
  }
  .actions li{
    display: block;
    margin: 3px 0;
  }
  .m-top ckanext-datapreview{
  overflow: auto;
  background-color: red;
}
  }
@media only screen and (min-width: 480px) and (max-width: 767px){
  /*body{
    background-color: orange;
  }*/
  .logo-mobile{
  display: block;
}
.logo-mobile .mobile-log-txt{
  position: absolute;
  left:67px;
  top:15px;
}
.logo-mobile hgroup .log-txt{
  margin-top: 10px !important;
  margin-left: 0px !important;
}
.logo-mobile hgroup .logo-icon-gov .logo span{
  top:-15px;
}
.logo-desktop{
display:none ;
}
.account-masthead .container .betaImg{
    margin-top: 35px;
  }
  .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: left;   
    margin-left: 480 * (6 /100);
    margin-left: 6vm;
    margin-left: 6vmin; 
    margin-top: 5px;

  }
  .toolbar{
    
    padding-left: 480 * (6 /100);
    padding-left: 6vm;
    padding-left: 6vmin;
  }
  .nav-collapse{
    clear: none !important;
    height: auto;
  }
  .nav-collapse .nav-pills{
    display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox; 
    display: flex;
  }
   i.icon-ic-datagov{
  font-size:100px;

  }

  i.icon-ic-menorah{
    /*font-size:50px;*/
  }
  .account-masthead .container .logo-title hgroup .logo-text{
    font-size: 20px;
   }
   .toolbar .breadcrumb .home{
    display: inline;
  }
  .wrapper{
    margin:0; 
  }
 .homepage .module-search .tags h3{
    width: auto;
  }
  .toolbar .breadcrumb{
   /* padding-left: 480 * (10 /100);
    padding-left: 10vm;
    padding-left: 10vmin; */
  }

  .toolbar .breadcrumb li,
  .toolbar .breadcrumb a{
    color:#505050;
  }
  .site-footer{
    
    padding-left: 480 * (10 /100);
    padding-left: 10vm;
    padding-left: 10vmin; 
    padding-right: 480 * (10 /100);
    padding-right: 10vm;
    padding-right: 10vmin;
  }
   .site-footer .footer-links .unstyled li a{
    font-size: 20px;
  }
  .footer .attribution{
    display: none;
  }
  .actions li{
    margin: 3px 0;
  }
  .tagCollector .tagLinks .tagLogo{
    
    width: 33.33333333%;
  }
}
/* Extra small device */
@media only screen and (min-width: 768px) and (max-width: 991px){
/*body{
  background-color:red;
}*/
.logo-mobile{
  display: none;
}
.logo-desktop{
display:block;
}




  .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus{
    float: left;
    /*padding-left: 768 * (11 /100);
    padding-left: 11vm;
    padding-left: 11vmin; */
    margin-top: 5px;
   left: 0px;
  }
  .nav-collapse{
    clear: none !important;
    height: auto;
  }
  .nav-collapse .nav-pills{
    display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;   
    display: flex;
  }


  i.icon-ic-datagov{
  font-size:100px;

  }

  i.icon-ic-menorah{
    /*font-size:50px;*/
  }
  .account-masthead .container .logo-title hgroup .logo-text{
    font-size: 20px;
   }

  .site-footer .footer-links .unstyled li a{
    font-size: 20px;
    white-space: nowrap; 
  }
  .footer .attribution{
    display: none;
  }
}
@media only screen and (min-width: 992px){
/*body{
  background-color:blue;
}*/
.logo-mobile{
  display: none;
}
.logo-desktop{
display:block;
}
.big-text{
  font-size:30px;
 }
 .toolbar .breadcrumb{
    padding-left: 0;
  }
  .site-footer .footer-links .unstyled li a{
    font-size:20px;
    white-space: nowrap;
  }
  .masthead .nav > li > a {
    font-size: 20px;
  }
  i.icon-ic-datagov{
  font-size:100px;
  }

  i.icon-ic-menorah{
   /*font-size:50px;*/
  }
  .account-masthead .container .logo-title hgroup .logo-text{
    font-size: 20px;
   }
.footer .attribution{
    display: block;
  }
  
}




/* ie */
@font-face{
  font-family: "Reforma";
 src:url("fonts/Reforma.eot");
 font-weight:normal;
font-style:normal;
}
.ie .account-masthead .container .logo-title hgroup{
  display:table;
}
.ie .account-masthead .container .logo-title hgroup div{
 display: table-cell;
}

.ie .account-masthead .container .logo-title hgroup .log-txt{
  display: table-cell;
  padding-top: 30px;
  padding-left: 35px;
  width: 180px;
}
.ie .account-masthead .container .logo-title hgroup .logo-icon-gov i{
  top:-37px;
}
.ie .account-masthead .container .logo-title hgroup .logo-icon-menora{
  display: table-cell;
  position: relative;
  width: 40px;
}
.ie .account-masthead .container .logo-title hgroup .logo-icon-menora a{
  position: absolute;
  top: 10px;
}
.ie .account-masthead .container .logo-title hgroup i.icon-ic-datagov{
  top:-43px;
  left:20px;
}
/*.ie .account-masthead .container .logo-title hgroup .betaImg{
  background-position:70% 70%; 
}*/
.ie .site-footer .footer-links .unstyled{
  display: table;
}
.ie .site-footer .footer-links .unstyled li{
  display: table-cell;
}
.ie .tagLinks{
  
}

.ie .tagLinks .tagLogo{
  float:right;
}
.ie .tagLinks .tagLogo a:hover{
  text-decoration: none;
}
/* end ie */