{% set tags = h.get_facet_items_dict('tags', limit=0) %}

{% set tags_count = h.get_tags_count() %}


<div class="container">

   <div class="row">
      

      <div class="span12">
        {% trans %}
          <p><h2><b>משתמשי האתר יהנו מיד חופשית לפיתוח יישומים ומערכות המבוססות על מאגר הנתונים הממשלתי.</b></h2></p>
          <p>באתר data.gov.il מתפרסמים מאגרי מידע ממשלתיים באופן ברור ונגיש.</p>
          <p>המאגרים מתעדכנים באופן קבוע ורציף.</p>
          <p>מערכת המידע של Data.gov.il מאפשרת איתור והורדה של נתונים בקלות וביעילות.</p>
        {% endtrans %}
      </div>

      
    </div>

    <div class="row"> 
      
      <div class="span12">
        {% block search %}
          {% snippet 'home/snippets/gov-search.html' %}
        {% endblock %}
      </div>
      
    </div>

    

    <div class="row-fluid"> 
      
      <div class="span12 tagCollector">
        <!--h2>{{ _('Popular tags') }}</h2-->

    {#% for tag in tags %}
      <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
    {% endfor %#}

    <div class="container tagLinks" >
            <div class="row-fluid ">

                {% for tag_count in tags_count %}
                      <div class="tagLogo pull-left">
                      <a class="tagLogoLink" href="{% url_for controller='package', action='search', tags=tag_count.name %}">
                        <span><i class={{ tag_count.icon }}></i></span>
                        <div class="tagLogoTitle">{{ tag_count.name }}</div>
                        <div class="tagLogoItemCount">{{ tag_count.count }}</div>
                      </a>
                          </div>
                {% endfor %}

            </div>
    </div>

          
        </div>
        
      </div>
    </div>
    
   </div>
</div>
{%- block scripts %}
 {% resource 'gov_theme/jquery-ui.js' %}


 {% endblock -%}
